div.getting-started(ng:hide="phases.selected")
    div.container
        h4 Welcome on Volleyball tactical diagrams
        p Volleyball tactical diagrams is an application to create tactical diagrams of your volleyball team phases during different moments of the game. Because playing volleyball at competition levels requires to know positions of players at each and every moment of a point, coach need tools to figure out best strategies and tactics on the field.
        p Volleyball tactical diagrams has been made for that!

        div.well
            h4
                span.circle 1
                | Create a phase
            div.row-fluid
                div.span5.offset1
                    p Start by Creating a new phase. Just give it a name and click on the "create" buton.
                div.span5.offset1
                    ul.thumbnails
                        li
                            a.thumbnail
                                img(src="/images/getting_started_1.png")
        div.well
            h4
                span.circle 2
                | Edit your phase details
            div.row-fluid
                div.span5.offset1
                    p Edit your team details for this position. Set information such as phase name, players name, positions roles and so on...
                div.span5.offset1
                    ul.thumbnails
                        li
                            a.thumbnail
                                img(src="/images/getting_started_4.png")
            div.row-fluid
                div.span5.offset1
                    p Drag & drop players to give them a position on the ground. Use your pointer as a pen to draw moves indications
                div.span5.offset1
                    ul.thumbnails
                        li
                            a.thumbnail
                                img(src="/images/getting_started_3.png")
        div.well
            h4
                span.circle 3
                | Backup your phases
            
            div.row-fluid
                div.span5.offset1
                    p Export it as an image. Generate an image of the current phase diagram and download it on your computer.
                div.span5.offset1
                    ul.thumbnails
                        li
                            a.thumbnail
                                img(src="/images/getting_started_6.png")

            div.row-fluid
                div.span5.offset1
                    p Export as a permalink. Generate a link to the current phase in its current state. Save it or share it.
                div.span5.offset1
                    ul.thumbnails
                        li
                            a.thumbnail
                                img(src="/images/getting_started_7.png")

            div.row-fluid
                div.span5.offset1
                    p Import/Export all your positions list. Get an access to the serialization of your phases data. Save it or modify it on the fly.
                div.span5.offset1
                    ul.thumbnails
                        li
                            a.thumbnail
                                img(src="/images/getting_started_5.png")