doctype 5
html(ng-app="Vdt")
    head
        title= title
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")

    body

        div.header
            h1 Volleyball tactical diagrams
            span When Javascript serves the interests of Volleyball 

        block content

        footer
            div This project was realized thanks to 
                a(href="http://jquery.com/", target="_blank") Jquery
                |, 
                a(href="http://angularjs.org/", target="_blank") Angular
                |, 
                a(href="http://twitter.github.com/bootstrap/", target="_blank") Bootstrap
                |&nbsp;and 
                a(href="http://raphaeljs.com/", target="_blank") Raphael
                |.
            div You can download sources, fork the project or open issues on 
                a(href="http://github.com/chewam/volley", target="_blank") Github
                |.

        //- libs
        script(type="text/javascript", src="/javascripts/lib/jquery.min.js")
        script(type="text/javascript", src="/javascripts/lib/bootstrap.min.js")
        script(type="text/javascript", src="/javascripts/lib/rgbcolor.js")
        script(type="text/javascript", src="/javascripts/lib/canvg.js")
        script(type="text/javascript", src="/javascripts/lib/raphael.min.js")
        script(type="text/javascript", src="/javascripts/lib/angular.min.js")

        //- ground
        script(type="text/javascript", src="/javascripts/app/ground/player.js")
        script(type="text/javascript", src="/javascripts/app/ground/team.js")
        script(type="text/javascript", src="/javascripts/app/ground/ground.js")

        //- app
        script(type="text/javascript", src="/javascripts/app/index.js")
        script(type="text/javascript", src="/javascripts/app/model/roles.js")
        script(type="text/javascript", src="/javascripts/app/model/phases.js")
        script(type="text/javascript", src="/javascripts/app/service/phases.js")
        script(type="text/javascript", src="/javascripts/app/service/ground.js")
        script(type="text/javascript", src="/javascripts/app/controller/main.js")
        script(type="text/javascript", src="/javascripts/app/controller/phase.js")
        script(type="text/javascript", src="/javascripts/app/controller/routes.js")
        script(type="text/javascript", src="/javascripts/app/controller/phases.js")

        script(type="text/javascript")
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35914428-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
