.container {
    position: relative;
}

.empty {
    padding-bottom: 20px;
}

.message {
    right: 20px;
    position: absolute;
}

.detail-container {
    /*height: 360px;*/
    min-height: 100px;
    /*border: none;*/
    border: 1px solid white;
}

.detail .page-header .btn {
    margin-top: 10px;
    margin-left: 10px;
}

.detail .delete {
    
}

.detail .form-horizontal .control-label {
    width: 60px;
}

.detail .form-horizontal .row-fluid .control-label {
    top: -6px;
    position: relative;
}

.detail .form-horizontal .controls {
    margin-left: 75px;
}

.detail .form-horizontal .control-group {
    margin-bottom: 10px;
}

.detail .form-horizontal input[type="checkbox"] {
    width: 20px;
}

.detail .controls-row [class*="span"] + [class*="span"] {
    margin-left: 5px;
}

.detail .coords {
    right: 0;
    top: 20px;
    color: #AAAAAA;
    font-size: .7em;
    position: absolute;
}

#ground {
    height: 500px;
    border: 1px solid #297cc4;
    background-color: #5CA1DD;
    /*border: 1px solid black;*/
}

.modal {
    outline: 0;
}