<h3 class="page-header">
    {{phase.name}}
    <a class="btn btn-small btn-danger pull-right delete" ng:click="destroy()">Delete</a>
    <a class="btn btn-small btn-toto pull-right details" ng:class="showDetails" ng:click="toggleDetails()">Details</a>
</h3>
<form class="form-horizontal" ng:show="showDetails" ng:init="rows = [[5, 6, 1], [4, 3, 2]]">

    <div class="control-group">
        <label class="control-label">Phase</label>
        <div class="controls">
            <input class="" type="text" ng:model="phase.name" placeholder="Phase name...">
        </div>
    </div>

    <div class="row-fluid">

        <div class="span{{7 - rowIndex * 2}}" ng:repeat="(rowIndex, row) in rows">
            <div class="control-group" ng:repeat="index in row">
                <label class="control-label">
                    Player {{index}}
                    <div class="coords">x:{{phase.positions[index].x | number:1}} y:{{phase.positions[index].y | number:1}}</div>
                </label>
                <div class="controls controls-row" ng:switch="index > 4 || index < 2">
                    <input class="span{{4 + rowIndex * 2}}" type="text" ng:model="phase.positions[index].player" ng:d­isa­ble­d­="phase.positions[index].libero" placeholder="Player name...">
                    <select class="span{{4 + rowIndex}}" ng:model="phase.positions[index].role" ng:options="r.value as r.label for r in roles"></select>
                    <span ng:switch:when="true">
                        <input class="span1" type="checkbox" ng:model="phase.positions[index].libero" ng:click="onLiberoClick(index)">
                        <input class="span3" type="text" ng:model="phase.libero.player" ng:show="phase.positions[index].libero" placeholder="Libero name...">
                    </span>
                </div>
            </div>

        </div>

    </div>

</form>
