.header {
    background-color: #F5F5F5;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

h1 a {
    color: #ddd;
    text-shadow: 0 2px 3px #fff;
}

h1 a:hover {
    color: #ddd;
    text-decoration: none;
}

.field {
    border: 1px solid #297cc4;
    background-color: #5CA1DD;
}

button#create {
    width: 220px;
}

button#export {
    width: 220px;
    margin-top: 5px;
}

/* Bootstrap override */

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    width: 50px;
}

.form-horizontal .controls {
    margin-left: 60px;
}

.form-horizontal .form-actions {
    padding-left: 60px;
}

.form-horizontal .controls select {
    margin: 0 10px;
}

.form-horizontal .controls label {
    margin-right: 10px;
}

.page-header {
    padding-bottom: 0;
    margin: 10px 0;
}

.form-horizontal label {
    display: inline-block;
}