/**** HEADER
*******************************************************************************/
.header {
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

/**** BODY
*******************************************************************************/
body {
    background-color: black;
}

.page-header {
    margin-bottom: 10px;
}

.saving {
    position: absolute;
    right: 20px;
    margin-top: 5px;
    font-size: .9em;
}

.container-fluid {
    padding-bottom: 40px;
    background-color: white;
}

.tools .btn-group {
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 0;
    height: 33px;
}

.tools .btn-group .btn .caret {
    margin-left: 5px;
}

.tools .btn {
    margin-left: 5px;
}

/**** LIST
*******************************************************************************/
.list .import {
    width: 100%;
    margin-top: 10px;
}

.list .nav {
    margin-top: 18px;
    margin-bottom: 15px;
}

.list .input-append input {
    width: 70%;
}

.list .input-append button {
    width: 30%;
}

/**** DETAILS
*******************************************************************************/
.details {
    padding-top: 10px;
}

.details .form-horizontal {
    margin: 0 0 10px;
}

.details .form-horizontal .control-label {
    width: 70px;
}

.details .form-horizontal .row-fluid .control-label {
    top: -6px;
    position: relative;
}

.details .form-horizontal .controls {
    margin-left: 85px;
}

.details .form-horizontal .control-group {
    margin-bottom: 10px;
}

.details .coords {
    right: 0;
    top: 20px;
    color: #AAAAAA;
    font-size: .7em;
    position: absolute;
}

.details .controls-row [class*="span"] + [class*="span"] {
    margin-left: 5px;
}

/**** GROUND
*******************************************************************************/
.ground {
    background-color: #08c;
}

/**** FOOTER
*******************************************************************************/
footer {
    color: white;
    padding: 20px;
}

/**** MODALS
*******************************************************************************/
.modal:focus {
    outline: 0;
}
