@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Dancing+Script:700);

/**** HEADER
*******************************************************************************/
.header {
    color: white;
    padding: 5px 10px 7px;
    background-color: #222222;
    border-bottom: 2px solid #08C;
    text-shadow: 0 1px 1px black;
}

h1 {
    margin: 0;
}

.header span {
    top: 1px;
    color: #08C;
    font-size: 20px;
    position: relative;
    text-shadow: 0 1px 1px black;
    font-family: 'Dancing Script', cursive !important;
}

/**** BODY
*******************************************************************************/
* {
    font-family: 'Lato', sans-serif !important;
}

body {
    /*background-color: #EFEFEF;*/
    /*font-family: 'Lato', sans-serif;*/
}

.page-header {
    margin-bottom: 10px;
}

.saving {
    position: absolute;
    right: 20px;
    margin-top: 5px;
    font-size: .9em;
}

.container-fluid {
    padding-bottom: 40px;
    background-color: white;
}

.tools .btn-group {
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 0;
    height: 34px;
}

.tools .btn-group .btn .caret {
    margin-left: 5px;
}

.tools .btn {
    margin-left: 5px;
}

/**** LIST
*******************************************************************************/
.list .import {
    width: 100%;
    margin-top: 10px;
}

.list .nav {
    margin-top: 18px;
    margin-bottom: 15px;
}

.list .input-append input {
    width: 70%;
}

.list .input-append button {
    width: 30%;
}

/**** DETAILS
*******************************************************************************/
.details {
    padding-top: 10px;
}

.details .form-horizontal {
    margin: 0 0 10px;
}

.details .form-horizontal .control-label {
    width: 70px;
}

.details .form-horizontal .row-fluid .control-label {
    top: -6px;
    position: relative;
}

.details .form-horizontal .controls {
    margin-left: 85px;
}

.details .form-horizontal .control-group {
    margin-bottom: 10px;
}

.details .coords {
    right: 0;
    top: 20px;
    color: #AAAAAA;
    font-size: .7em;
    position: absolute;
}

.details .controls-row [class*="span"] + [class*="span"] {
    margin-left: 5px;
}

/**** GROUND
*******************************************************************************/
.ground {
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0 1px 10px -3px black;
}

/**** FOOTER
*******************************************************************************/
footer {
    color: #BBB;
    padding: 20px;
    text-shadow: 0 1px 1px white;
    background-color: #EFEFEF;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

/**** MODALS
*******************************************************************************/
.modal:focus {
    outline: 0;
}
